body > h1{
    align-content: center;
}


.container{
    background-color: azure;
}

div{
   height: 150px;
   width: 150px;
}
#first{
    background-color: aquamarine;
}
#second{
    background-color:blanchedalmond;
    position: absolute;
    left: 50px;

}
#third{
  background-color: greenyellow;
}
#fourth{
    background-color: blueviolet;
    position: absolute;
    left: 100px;

}